.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
}


.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
}
.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    width: 100%;
    border-radius: 1.2rem ;
    text-align: center;
    align-items: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact_option_decription{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_option_decription>h5{
    font-size: 0.6rem;
}
.contact_option:hover{
    background-color: transparent;
    border: 1px solid var(--color-light);
}

.contact_option_decription>a{
    display: inline-block;
    margin-top: 0.7rem;
    font-size: 0.8rem;
}

.contact_option_icon{
    font-size: 1rem;
}




/* =============================  FORM ================================ */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

input,textarea{
    width:100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-light);
}
textarea{
    height: 30vh;
}


/* ************* MEDIA QUERIES (MEDIA Devices)************************* */

@media screen and ( max-width:600px){
    section{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .container.contact_container{
        display: flex;
        flex-direction: column;
    }
    input,textarea{
        padding: 1rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .contact_option{
        margin-left: 2rem;
    }
    form>.inputarea{
        display: flex;
        flex-direction: column;
    }
    form>button{
        margin-left: 8rem;
    }
}
/* ************* MEDIA QUERIES (SMALL Devices)************************* */

@media screen and ( max-width:500px){

    section{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .container.contact_container{
        display: flex;
        flex-direction: column;
    }
    input,textarea{
        padding: 1rem;
        margin-left: 2rem;
    }
    .contact_option{
        margin-left: 2rem;
    }
}

